body main #About{
    text-align: center;
    background-color: rgb(174, 55, 55);
    align-content: center;
}
body{
    background-color: #333333;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    font-size: large;
    float: right;
    margin: 0;
    margin-right: 50px;
    border: 50px;
    background-color: rgb(107, 86, 56);
    display: flex;
}

ul li a {
  display: block;
  color: black;
  
  padding: 20px 40px;

  text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(131, 109, 151);
    
}



main .image {
    background-color: azure;
}