body main p{
    text-align: center;
    

}
body{
    background-color: #333333;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    font-size: large;
    float: right;
    margin: 0;
    margin-right: 50px;
    border: 50px;
    background-color: blanchedalmond;
    display: flex;
}

ul li a {
  display: flex;
  color: black;
  
  padding: 15px 40px;
  border: 0;
  margin-left: 0;
  text-decoration: none;
}

nav ul li a:hover {
    background-color: blueviolet;
    
}